In [1]:
import os
import pandas as pd

In [20]:
#ruta = os.path.join(os.getcwd(), 'Streetcar Jan 2014.csv')
path ="C:/Users/Sindicato1/Aprendizaje Profundo con Datos Estructurados/data/"
file = "Streetcar Jan 2014.csv"
pathFull = os.path.join(path,file)
pathFull

'C:/Users/Sindicato1/Aprendizaje Profundo con Datos Estructurados/data/Streetcar Jan 2014.csv'

### LAS PRIMERAS 3 FILAS

In [21]:
df = pd.read_csv(pathFull)
df.head(3)

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-02,505,6:31:00 AM,Thursday,Dundas and Roncesvalles,Late Leaving Garage,4,8.0,E/B,4018.0
1,2014-01-02,504,12:43:00 PM,Thursday,King and Shaw,Utilized Off Route,20,22.0,E/B,4128.0
2,2014-01-02,501,2:01:00 PM,Thursday,Kingston road and Bingham,Held By,13,19.0,W/B,4016.0

## MUESTREO DE DATOS DE UN  DATAFRAME (Sample)
Puede suceder que solo necesite algunas filas de su marco de datos de Python. Puede lograr este resultado, a través de diferentes técnicas de muestreo.

### Muestreo aleatorio
Dado un marco de datos con N filas, Muestreo aleatorio extrae X filas aleatorias del marco de datos, con X ≤ N se ocupara sample() para realizar un muestreo aleatorio hay 2 formas un numero fijo a rescatar fila del df y un porcentaje del total de filas

In [ ]:
# Numero fijo
df2 = df.sample(n=50)

In [ ]:
# Porcentaje de una muestra del dataframe
df3 = df.sample(frac=0.5)

### TENER UNA SOLA CONDICION EN UNA DECLARACION DE SELECCION

In [24]:
df[df.Location == "King and Shaw"].Route

1    504
Name: Route, dtype: int64

### ENUMERAR LAS ENTRADAS UNICAS EN UNA COLUMNA

In [25]:
df.Incident.unique()

array(['Late Leaving Garage', 'Utilized Off Route', 'Held By',
       'Investigation', 'Mechanical', 'General Delay',
       'Emergency Services', 'Diversion'], dtype=object)

### MULTIPLES CONDICIONES EN UNA DECLARACION DE SELECCION

In [27]:
df[(df['Min Delay'] > 20) & (df['Day'] == "Sunday")]

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
305,2014-01-19,504,8:33:00 AM,Sunday,King and Queen,Held By,40,50.0,E/B,4089.0
311,2014-01-19,511,7:17:00 PM,Sunday,Bathurst and Front,Investigation,33,40.0,S/B,4179.0

### PARA TENER ORDEN EN UNA DECLARACION SELECCIONADA

In [28]:
df[['Route','Min Delay']][(df['Min Delay'] > 20)].sort_values('Min Delay')

     Route  Min Delay
148    501         22
271    501         22
277    506         23
296    506         25
295    504         25
298    511         27
297    504         28
293    505         33
300    511         33
311    511         33
304    504         35
305    504         40
286    512         42
299    511         66
291    506         74
237    504         77
236    501         93

### NUMERO DE DATOS FALTANTES POR COLUMNA

In [ ]:
df.isnull().sum()

### ELIMINAR DATOS FALTANTES
Eliminar todas las filas que tengan datos faltantes

In [ ]:
# cuando son filas no es neceario escribir axis=0
df.dropna(axis=0)

In [ ]:
# Datos agrupados por incidente
grouped_data = surveys_df.groupby('Incident')

# Estadísticas para todas las columnas numéricas por sexo
grouped_data.describe()
# Regresa la media de cada columna numérica por sexo
grouped_data.mean()

In [ ]:
import pandas as pd
import os
 
HOUSING_PATH = "Ruta de almacenamiento de datos"
 #Datos de importacion 
def load_housing_data(housing_path=HOUSING_PATH):
         csv_path = os.path.join (housing_path, "Nombre de archivo.csv")
    return pd.read_csv(csv_path)
 
housing=load_housing_data()

In [ ]:
# Puede organizar sus archivos de configuración con categorías. Este archivo de configuración tiene una categoría para 
# parámetros generales y otra para nombres de archivo.
general:
    
    # Parámetro utilizado para controlar si los archivos XLS sin procesar se leen directamente. Si este parámetro es True, 
    # el conjunto de datos sin procesar se lee de los archivos XLS originales. Si este parámetro es falso, el conjunto de 
    # datos se lee desde un marco de datos encurtido.
   load_from_scratch: False
    
    # Parámetro utilizado para controlar si el marco de datos de salida se guarda en un archivo pickle
   save_transformed_dataframe: False
    
    # Parámetro utilizado para controlar si se incluyen valores incorrectos en el marco de datos de salida
   remove_bad_values: True
file_names:
    # Nombre de archivo del marco de datos en escabeche para leer si load_from_scratch se establece en False
   pickled_input_dataframe: 2014_2019_upto_june.pkl
    
    # Nombre de archivo del marco de datos en escabeche para escribir si save_transformed_dataframe es True
   pickled_output_dataframe: 2014_2019_df_cleaned_remove_bad_oct18.pkl

In [ ]:
current_path = os.getcwd()

# Defina la ruta para el archivo de configuración completo. Tenga en cuenta que el nombre del archivo de configuración es 
# un parámetro que debe codificarse en el código de Python, aunque esto no debería ser un problema porque el nombre del 
# archivo de configuración no debe cambiar. También tenga en cuenta que usamos os.path.join para combinar el directorio 
# y el nombre de archivo en una sola ruta. Usamos esta función porque hace que la plataforma de nombre de ruta sea 
# independiente.
path_to_yaml = os.path.join(current_path,'streetcar_data_preparation_config.yml')
try:
    with open (path_to_yaml, 'r') as c_file:
        
        # Defina la configuración del diccionario de Python que contiene la clave/valor pares del archivo de configuración.
        config = yaml.safe_load(c_file)
except Exception as e:
    print('Error reading the config file')

# Copie los valores del diccionario de configuración en el variables utilizadas en el resto del programa.
load_from_scratch = config['general']['load_from_scratch']
save_transformed_dataframe = config['general']['save_transformed_dataframe']
remove_bad_values = config['general']['remove_bad_values']
pickled_input_dataframe = config['file_names']['pickled_input_dataframe']
pickled_output_dataframe = config['file_names']['pickled_output_dataframe']